<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>

<body>

    <header style="text-align: center; padding: 20px; background-color: #f4f4f4;">
        <h1>Welcome to the About Us Page</h1>
        <p>This is a simple Django About Us page.</p>
    </header>
    <div>
        <h2 style="padding: 20px;">
            Name: {{name | capfirst}} <br>
            Course: {{course | capfirst}} <br>
            Semester: {{semester}} <br>
            Marks: {{marks | floatformat:2}}
        </h2>
    </div>

</body>

</html>